* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
}


/* Início do Header */
header {
    padding: min(8vh, 19rem);
    /*Tamanho preenchimento*/
    background-color: rgb(78, 135, 168);
    /*Cor de fundo do Header*/
    width: 100%;
}

.ul-naoOrdenada {
    /*UL - Estilizando a Lista não ordenada do Header*/
    display: flex;
    /*Colocando as LI lado a lado*/
    justify-content: end;
    /*Justificando o conteúdo para o fim(posicionamento) do header */
  gap: 2rem;
    /*Espaçamento entre as Listas/Âncoras*/
}

.ul-naoOrdenada li a {
    /*âncora do Header*/
    text-decoration: none;
    /*Retirando a decoração de texto (sublinhado)*/
    color: white;
    /*Cor da letra do Header*/
}

.ul-naoOrdenada li a:hover {
    /*Aplicando o Hover na âncora*/
    color: blue;
    /*Cor ao passar o mouse*/
    transition: 0.8s;
    /*Tempo de Transição*/
}

/* Fim do Header */


/* Estilização da Primeira section */
.section-01 {
    padding: min(35vh, 40rem);
    /*Preenchimento da sessão*/
    background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%);
    /*Uma cor com Degradê*/
    width: 100%;
}

.section-01 h1 {
    /*Título da Primeira sessão*/
    font-size: 50px;
    /*Tamanho da Font*/
    color: rgb(49, 48, 48);
    /*Cor da letra*/
    font-weight: 600;
    /*Peso da Font*/
}

.section-01 p {
    /*Parágrafo para estilização*/
    margin-top: 10px;
    /*Espaçamento superior*/
    margin-bottom: 10px;
    /*Espaçamento Inferior*/
    font-size: 40px;
    /*Tamanho da letra*/
    color: rgb(49, 48, 48);
    /*Cor da letra*/
    font-weight: 600;
    /*Peso da Font*/
}

.section-01 a button {
    /*Estilização do Botão da Primeira Sessão*/
    color: rgb(19, 138, 43);
    width: 300px;
    /*Largura do Botão*/
    height: 50px;
    /*Altura do Botão*/
    border-radius: 50px;
    /*Arredondamento da Borda*/
    border-color: rgb(19, 138, 43);
    /*Cor da Borda*/
     cursor:pointer
    /* Muda o cursor ao passar em cima do butão */
}

.section-01 a button:hover {
    /*Aplicando o Hover no Botão*/
    background-color: rgb(19, 138, 43);
    /*Alterando a cor de Fundo*/
    color: white;
    /*Cor da Letra ao passar o Mouse*/
    border-color: white;
    /*Cor da Borda ao passar o Mouse*/
    transition: 0.8s;
    /*Tempo de transição*/
}

/* Fim da estilização da Primeira sessão */


/* Início da Estilização da Section-02 */
.section-02 {
    padding: min(30vh, 40rem);
    /*Preenchimento da Sessão*/
    display: flex;
    /*Tornando a sessão Flex*/
    justify-content: space-evenly;
    /*Alinhamento na Horizontal*/
    align-items: center;
    /*Alinhamento Vertical*/
    background-color: rgb(226, 233, 233);
    /*cor de fundo*/
}

.div1 p {
    font-size: 40px;
    /*Tamanho da letra*/
    color: rgb(30, 29, 29);
    /*Cor da letra*/
    font-weight: 500;
    /*Peso da Font*/
    margin-bottom: 20px;
    /*Espaçamento Inferior*/
}

.div1 a button {
    /*Estilização do Botão da Primeira Sessão*/
    color: rgb(19, 138, 43);
    width: 300px;
    /*Largura do Botão*/
    height: 50px;
    /*Altura do Botão*/
    border-radius: 50px;
    /*Arredondamento da Borda*/
    border-color: rgb(19, 138, 43);
    /*Cor da Borda*/
     cursor:pointer
    /* Muda o cursor ao passar em cima do butão */
}

.div1 a button:hover {
    /*Aplicando o Hover no Botão*/
    background-color: rgb(19, 138, 43);
    /*Alterando a cor de Fundo*/
    color: white;
    /*Cor da Letra ao passar o Mouse*/
    border-color: white;
    /*Cor da Borda ao passar o Mouse*/
    transition: 0.8s;
    /*Tempo de transição*/
}

.div2 img {
    /*Estilizando a Imagem da Section-2*/
    width: 380px;
    /*Largura da Imagem*/
    height: auto;
    /*Altura altomática da Imagem*/
    margin-left: 20px;
    /*Espaçamento à esquerda*/
}

/* Encerramento da Estilização da Section-02 */


/* Início da Section-3 */

.section-03 {
    padding: min(35vh, 40rem);
    background-color: rgb(226, 233, 233);
    /*cor de fundo*/
}

.section-03 h2 {
    /*Estilização do Subtítulo*/
    text-align: center;
    /*Alinhamento ao centro*/
    color: rgb(34, 34, 74);
    /*Cor da letra*/
    font-size: 40px;
    /*Tamanho da letra*/
    margin-top: -170px;
    /*Espaçamento em relação a sessão de cima*/
}

.section-03 p {
    /*Estilização dos Parágrafos*/
    font-size: 20px;
    /*Tamanho da letra*/
    margin-top: 30px;
    /*Margem superior*/
    color: rgba(0, 0, 0, 0.564);
    /*Cor da letra*/
    text-align: center;
    /*Alihando texto ao centro*/
}


.content-a-line{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}



.section-03 a button {
    /*Estilização do Botão*/
    padding: 20px;
    /*Preenchimento do Botão*/
    border-radius: 50px;
    /*Arredondamento da borda do botão*/
    width: 300px;
    /*Largura do botão*/
    color: rgb(50, 50, 226);
    /*Cor da letra*/
    border-color: rgb(50, 50, 226);
    /*Cor da borda*/
    font-size: 15px;
    /*Tamanho da letra*/
    margin-top: 40px;
    /*Margin superior*/
    margin-bottom: 30px;
    /*Margin inferior*/
     cursor:pointer;
    /* Muda o cursor ao passar em cima do butão */
}


.section-03 a button:hover{
    background-color: rgb(50, 50, 226);
    transition: 0.8s;
    color: #fff;
}

.line {
    /*Estilização da Linha*/
    width: 70%;
    /*Largura da Linha*/
    margin: 40px auto;
    /*Espaçamento de 40px top e Bottom e esqueda e direita automáticas*/
    display: flex;
    justify-content: center;
   align-items: center;
    text-align: center;
/* Alinhamento da linha ao centro */
}

.section-03 img {
    /*Estilização da Imagem*/
    display: flex;
    justify-content: center;
  align-items: center;
    text-align: center;
/*  Alinhamento da imagem ao centro */

}


.container-cofre {
    /* Criação e estilização do Container Cofre*/
    padding: 200px;
    /*Preenchimento*/
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(imagens/img\ cofre\ fundo.jpg);
    /*Filtro Gradient e imagem de fundo*/
    background-attachment: fixed;
    /*Deixando a imagem fixa*/
    background-size: cover;
    /*Tamanho da imagem = Total*/
    background-position: center;
    /*Posicionamento da imagem*/
    display: flex; /*Tornando nossa sessão Flex*/
    justify-content: space-evenly; /*Justificativa do conteúdo - Horizontal*/
    align-items: center; /*Alinhamento na vertical*/
}

.div-cofre h2 { /*Estilizando o Subtítulo da sessão*/
    color: white; /*Cor da letra*/
    text-align: center; /*Alinhando o texto ao centro*/
    font-size: 35px; /*Tamanho da letra*/
    margin-bottom: 30px; /*Espaçamento inferior*/
}

.div-cofre p { /*Estilizando o parágrafo*/
    color: white; /*Cor da letra*/
    font-size: 20px; /*Tamanho da letra*/
    text-align: center;
}

.div-cofre span { /* Estilizando o Span*/
    color: yellow; /*Cor da letra*/
    font-weight: 600; /*Peso da font*/
}

.container-cofre img { /*Estilizando a img do container-cofre*/
    width: 380px; /*Largura da imagem*/
}


footer {
    padding: 140px;
    background-color: rgb(24, 23, 23);
    text-align: center;
}

.div-privacidade {
    display: flex;
    justify-content: space-between;
}

.div-privacidade p {
    text-align: center;
    color: rgb(179, 174, 174);
}

.div-privacidade a {
    text-decoration: none;
    color: white;
}

.div-privacidade a:hover {
    color: purple;
    transition: 0.8s;
}

.div-img-footer img {
    margin-bottom: 35px;
}



@media(max-width: 830px){

    header{
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.8rem;
    }


    .section-01{
        padding: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section-01 button{
        margin-top: 0.5rem;
    }

    .section-02{
        padding: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

.section-03{
    padding: 10rem;
    font-size: 5rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;}

.line{
display: none;
}

    .section-03 img{
    display: none;
    }


    .container-cofre {
        padding: 12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    } 


    .container-cofre img{
 margin-bottom: 30px;
    width: 15rem;
    }


    footer{
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer img{
        width: 15rem;
    }


    .div-privacidade{
        display:flex;
        flex-direction: column;
justify-content: center;
    }



    .div-privacidade a{
        margin-top: 1rem;
    }
}
